:root {
  --dark-gray: #5a5a5a;
}

body {
  background-color: #9dffb0;
}

.centered {
  margin: 0;
  position: absolute;
  left: 30%;
}

/* Dropdown Button */
.dropbtn {
  width: 180px;
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.song-selector {
  padding-top: 20px;
}

#audio-control {
  position: relative;
  left: 80px;
  display: inline-block;
  background-color: transparent;
}
.pause-icon {
  width: 32px;
  height: 32px;
  border-color: var(--dark-gray);
  border-style: double;
  border-width: 0px 0 0px 25px;
}
.pause-icon:hover {
  border-color: black;
}
.play-icon {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 25px solid var(--dark-gray);
  border-bottom: 16px solid transparent;
  border-right: 0px;
}
.play-icon:hover {
  border-left: 25px solid black;
}

#album-image {
  position: relative;
  left: 18px;
  top: 30px;
}

select {
  text-align-last: center;
}
